<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="com.foxgang.teamcity.msTeams.test.DummyTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsApiProcessorTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsConfigurationControllerTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsConfigurationPageExtensionTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsConfigurationTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsNotificationMessageTemplatesTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsServerExtensionTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.SimpleServerTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.UtilsTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsProjectSettingsTest"/>
      <class name="com.foxgang.teamcity.msTeams.test.MSTeamsEmoticonCacheTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
